<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
	
	
	<!-- Database connection properties - Driver, URL, user, password -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test_db</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">admin</property>
	
	
	<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="show_sql">true</property>
	
	<!-- Mapping model/entity class having annotations   -->
	
	
	<!-- Mapping for ONE to ONE Relationship -->
		<mapping class="com.hexaware.mappings.entity.Student" />
		<mapping class="com.hexaware.mappings.entity.Address" />
		
		
		<!-- Mapping for ONE to MANY Relationship -->
		<mapping class="com.hexaware.mappings.entity.Employee" />
		<mapping class="com.hexaware.mappings.entity.Department" />
	
	
	<!-- Mapping for MANY to MANY Relationship -->
		<mapping class="com.hexaware.mappings.entity.Product" />
		<mapping class="com.hexaware.mappings.entity.Order" />
	

	</session-factory>


</hibernate-configuration>		
		
		
		